{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bidao</title>

  <link href="{%static 'frontend/vendor/fontawesome.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link href="{% static 'frontend/css/bidao.css'%}" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="{% static 'frontend/images/bidaob.svg'%}">
        </div>
        <div class="sidebar-brand-text mx-3">Bidao</div>
      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-bolt"></i>
          <span>Generate BAI</span></a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" href="index.html">
              <i class="fas fa-wallet"></i>
              <span>Wallet</span></a>
      </li>

      

     

      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">


        <div class="container-fluid">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 mt-3"><i class="fas fa-bolt"></i> Generate BAI</h1>
          </div>

          <div class="row">

            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">How much BNB would you like to collaterize?</div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">BNB</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon1">
                        </div>
                      
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">How much BAI you will generate?</div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">BAI</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon1">
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

                     </div>
          <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-6 ">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Liquidation Price (BNB/USD): <i class="far fa-question-circle"></i></div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Current Price (BNB/USD): <i class="far fa-question-circle"></i></div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Liquidation Penalty: <i class="far fa-question-circle"></i></div>

                                                                
                            </div>
                            <div class="col-6 ">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">10.3 USD</div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">20 USD</div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">15%</div>

                                
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-6 ">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Collateralization Ratio: <i class="far fa-question-circle"></i></div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Min Ratio: <i class="far fa-question-circle"></i></div>

                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Stability Fee: <i class="far fa-question-circle"></i></div>

                                                                
                            </div>
                            <div class="col-6 ">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">--%</div>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">150%</div>

                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">2%</div>

                                
                            </div>

                            <a href="#" class="d-none w-100 d-sm-inline-block btn btn-sm btn-primary shadow-sm"> Generate BAI</a>
                            
                        </div>
                    </div>
                </div>
            </div>

          </div>


          <div class="row">

            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">BAI/USD Price Chart</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

                     </div>

        
      </div>

      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Bidao UG</span>
          </div>
        </div>
      </footer>

    </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  
  <script src="{% static 'frontend/vendor/jquery.min.js'%}"></script>
  <script src="{% static 'frontend/vendor/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'frontend/vendor/jquery-easing.min.js'%}"></script>
  <script src="{%static 'frontend/js/bidao.js'%}"></script>
  <script src="{% static 'frontend/vendor/chart.min.js'%}"></script>
  <script src="{% static 'frontend/js/chartgraph.js'%}"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>
